@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background: linear-gradient(270deg, #DBE2EF, #3F72AF);
}

/* Header */
.main-tittle {
    text-align: center;
}

/* Bagian Kiri */
main {
    display: flex;
}

aside {
    padding: 3rem;
    width: 50%;
}

article {
    margin: 2rem 0;
}

form {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.625rem;
    background-color: #e6f7ff35;
}

span {
    font-style: italic;
    font-size: 0.9rem;
}

.formInformation {
    margin-top: 1rem;
}

.formInformation p {
    font-size: 1.2rem;
}

/* Input */
input[type=radio] {
    margin: 0 0.2rem;
    cursor: pointer;
}

input[type=number] {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    position: absolute;
    margin: 1rem -1.875rem;
    min-width: 45px;
    color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Button */
.btn{
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    color: #fff;
}

#btnInput {
    background-color: rgba(17, 17, 137, 0.824);
}

#btnInput::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -8px;
    left: -8px;
    border-top: 3px solid darkblue;
    border-left: 3px solid darkblue;
    transition: all 0.25s;
}

#btnInput::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -8px;
    right: -8px;
    border-bottom: 3px solid darkblue;
    border-right: 3px solid darkblue;
    transition: all 0.25s;
}

#btnInput:hover:before,
#btnInput:hover::after {
    height: 100%;
    width: 100%;
}

#btnReset {
    float: right;
    background-color: rgb(113, 201, 206, 0.824);
}

#btnReset::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -8px;
    left: -8px;
    border-top: 3px solid rgb(113, 201, 206);
    border-left: 3px solid rgb(113, 201, 206);
    transition: all 0.25s;
}

#btnReset::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -8px;
    right: -8px;
    border-bottom: 3px solid rgb(113, 201, 206);
    border-right: 3px solid rgb(113, 201, 206);
    transition: all 0.25s;
}

#btnReset:hover:before,
#btnReset:hover::after {
    height: 100%;
    width: 100%;
}

/* right */
.hasil {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.625rem;
    background-color: #e6f7ff35;
    width: 100%;
    height: 50%;
    margin-top: 2rem;
    position: relative;
}

.subjudul {
    text-align: center;
    font-size: 2rem;
}

#hasilPerhitungan {
    text-align: center;
    font-size: 9rem;
}
.status {
    text-align: center;
    font-size: 1rem;
}

#statusHasil {
    font-weight: bold;
}

.penyakit {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.625rem;
    background-color: #e6f7ff35;
    width: 100%;
    height: 28%;
}

/* Bagian Bawah */
footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    main {
        flex-wrap: wrap;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}